<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/#city_main-page"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> City <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#city_main-page">City Page</a></li>
            <li><a href="/#city_airport-page">City Airport Page</a></li>
            <li><a href="/#city_construction-page">City Construction Page</a></li>
            <li><a href="/#city_hospital-page">City Hospital</a></li>
            <li><a href="/#city_restaurant-page">City Restaurant</a></li>
            <li><a href="/#city_road-page">City Road</a></li>
            <li><a href="/#city_science-page">City Laboratory</a></li>
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Body <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#body_main-page">Body Page</a></li>
            <li><a href="/#body_bulb-page">Body Bulb Page</a></li>
            <li><a href="/#body_cutlery-page">Body Cutlery Page</a></li>
            <li><a href="/#body_gust-page">Body Gust Page</a></li>
            <li><a href="/#body_heart-page">Body Heart Page</a></li>
            <li><a href="/#body_scaffold-page">Body Scaffold Page</a></li>
            <li><a href="/#body_shield-page">Body Shield Page</a></li>
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Cells <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#adipose-page">Adipose Page</a></li>
            <li><a href="/#carcinoma-page">Carcinoma Page</a></li>
            <li><a href="/#cardiomyocytes-page">Cardiomyocytes Page</a></li>
            <li><a href="/#endothelial-page">Endothelial Page</a></li>
            <li><a href="/#leukocytes-page">Leukocytes Page</a></li>
            <li><a href="/#neurones-page">Neurones Page</a></li>
            <li><a href="/#osteoclast-page">Osteoclast Page</a></li>
            <li><a href="/#pulmonary-page">Pulmonary Epithelial Page</a></li>
          </ul>
      </li>

      
      <li><a href="/#custom-page">Custom</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right"><a href="/metrics"><span class="glyphicon glyphicon-dashboard"></span> Metrics</a></li>
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
      </li>
    </ul>
  </div>
</nav>
