

[class*="col-"] {
  border: 1px solid #80aa00;
  padding: 0;
}

.dropZone {
    position: absolute;
    border: 3px solid red;
}

.ui-droppable-hover {
    background: #00FF0099;
}

.dragMe {
  cursor: move;
  padding: 15px;
}

.dragMe img {
    width: 100%;
    height: 100%;
}

.draggingMe {
    opacity: 0.7;
}


/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}

.row-xs-height {
    display:table-row;
}

.col-xs-height {
    display:table-cell;
    float:none;
}

@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

