<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="row">
  <div class="col.sm-12 col-md-12" id="main"><img src="/images/city.png" width="100%"></div>
</div>

<div id="results"></div>  
</body>
</html>
