<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="row">
  <div class="col.sm-12 col-md-12"><img src="/images/city.png" width="100%"></div>
  <div class="col-sm-12 col-md-2"><img src="/images/airport.png" width="100%"></div>
  <div class="col-sm-12 col-md-2"><img src="/images/construction.png" width="100%"></div>
  <div class="col-sm-12 col-md-2"><img src="/images/hospital.png" width="100%"></div>
  <div class="col-sm-12 col-md-2"><img src="/images/restaurant.png" width="100%"></div>
  <div class="col-sm-12 col-md-2"><img src="/images/road.png" width="100%"></div>
  <div class="col-sm-12 col-md-2"><img src="/images/science.png" width="100%"></div>
</div>



</body>
</html>
