<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<% include ../partials/nav.ejs %>

	<div id="results"></div>

	<div class="row">
		<div id="city-page" class="page">
			<div class = "col-xs-1 col-sm-1 col-md-3"></div>
			<div class="col-xs-10 col-sm-10 col-md-6" id="city"><img src="/images/city/background.png" width="100%"></div>
			<!-- index.js adds draggable icons here under #target div-->
			<div class = "col-xs-1 col-sm-1 col-md-3"></div>
		</div>
	</div>

	<div class="row">
		<div id="airport-page" class="page">
			<div class = "col-xs-1 col-sm-1 col-md-3"></div>
			<div class="col-xs-10 col-sm-10 col-md-8" id="cityAirport"><img src="/images/cityAirport/background.png" width="100%"></div>
			<!-- index.js adds draggable icons here under #target div-->
			<div class = "col-xs-1 col-sm-1 col-md-3"></div>
		</div>
	</div>

	<div class="row">
		<div id="body-page" class="page">
			<div class = "col-xs-1 col-sm-1 col-md-3"></div>
			<div class="col-xs-10 col-sm-10 col-md-8" id="body"><img src="/images/body/background.png" width="100%"></div>
			<!-- index.js adds draggable icons here under #target div-->
			<div class = "col-xs-1 col-sm-1 col-md-3"></div>
		</div>
	</div>

</body>
</html>
