<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>

<body>

	<% include ../partials/nav.ejs %>

	<div id="results"></div>
</body>
<script type="text/javascript" src="javascript/client-metrics.js"></script>
<script type="text/javascript" src="javascript/index.js"></script>
<script type="text/javascript">window.onload = addRecord;</script>
</html>
